<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="com/training2/guide/config.properties">
    <property name="username" value="username"/>
    <property name="password" value="password"/>
    <property name="url" value="url"/>
    <property name="driver" value="driver"/>
</properties>
<typeAliases>
    <typeAlias type="com.training2.guide.models.City" alias="City"/>
    <typeAlias type="com.training2.guide.models.Passanger" alias="Passanger"/>
    <typeAlias type="com.training2.guide.models.PassangerPath" alias="PassangerPath"/>
    <typeAlias type="com.training2.guide.models.Route" alias="Route"/>
    <typeAlias type="com.training2.guide.models.Station" alias="Station"/>
    <typeAlias type="com.training2.guide.models.AbstractTransport" alias="Transport"/>
    <typeAlias type="com.training2.guide.models.Bus" alias="Bus"/>
    <typeAlias type="com.training2.guide.models.Trolleybus" alias="Trolleybus"/>
    <typeAlias type="com.training2.guide.models.Train" alias="Train"/>
    <typeAlias type="com.training2.guide.models.Tram" alias="Tram"/>
    <typeAlias type="com.training2.guide.models.NeighborStation" alias="NeighborStation"/>
</typeAliases>
<environments default="development">
    <environment id="development">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
            <property name="driver" value="${driver}"/>
            <property name="url" value="${url}"/>
            <property name="username" value="${username}"/>
            <property name="password" value="${password}"/>
        </dataSource>
    </environment>
</environments>
<mappers>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/CityMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/PassangerMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/PassangerPathMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/RouteMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/StationMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/TransportMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/RouteMapper.xml"/>
    <mapper resource="com/training2/guide/dao/orm/mybatis/mysql/mappers/NeighborStationMapper.xml"/>
</mappers>
</configuration>