<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PassangerPathMapping">
    <insert id="insertPassangerPath" parameterType="map" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert ignore into orders(orderId, route) values(#{orderId}, #{route})
    </insert>

    <select id="getAll" resultMap="PassangerPathMap">
        select ps.id, ps.address_from, ps.address_to, ps.passenger_id from passengers_station ps
    </select>
    
    <resultMap id="PassangerPathMap" type="PassangerPath" autoMapping="false">
        <id property="id" column="id"/>
        <association property="passanger" javaType="Passanger">
            <id property="id" column="passenger_id"/>
        </association>
        <association property="stationFrom" javaType="Station">
            <id property="id" column="address_from"/>
        </association>
        <association property="stationTo" javaType="Station">
            <id property="id" column="address_to"/>
        </association>
    </resultMap>
</mapper>