<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RouteMapping">

    <sql id="getByStation">
        <![CDATA[
          select s.id as stationId, s.street, c. id as cityId, c.cityName, r.station_from, r.station_to, r.distance
        from stations s inner join cities c on (s.city_id = c.id)
        inner join route r on (s.id = r.station_from)
        ]]>
    </sql>

    <select id="getByStationId" parameterType="Route" resultMap="neighborStationMap">
        <include refid="getByStation"/>
         where (s.id = #{id})
    </select>

    <resultMap id="neighborStationMap" type="NeighborStation">
        <association property="station" javaType="Station">
            <id property="id" column="stationId"/>
            <result property="street" column="street"/>
            <association property="city" javaType="City">
                <id property="id" column="cityId"/>
                <result property="cityName" column="cityName"/>
            </association>
        </association>

    </resultMap>
</mapper>